body
{
	background-color: #181818;
}

svg
{
	fill: white;
}

nav.main
{
	height: 60px;
	width: 100%;
	background-color: #202020;

	display: flex;
	justify-content: space-between;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;

	padding: 0 1.75rem;
}

nav.main svg
{
	width: 24px;
	height: 24px;
}

nav.main button
{
	height: 24px;
	width: 24px;
}
nav.main button:active
{
	background-color: gray;
}

svg.white
{
	fill: white;
}

nav.main .left
{
	display: flex;
	align-items: center;
}
nav.main .left .youtube-home
{
	width: 100px;
	fill: white;
	margin-left: 1rem;
}

nav.main .middle
{
	height: 40px;
	display: flex;
	align-items: center;
}
nav.main .middle input
{
	width: 500px;
	height: 100%;
	background-color: #121212;

	color: white;
	font-size: 1.125em;

	padding: 0.5rem 0.75rem;
	border: 1px solid rgba(255, 255, 255, 0.125);
}
nav.main .middle input:focus
{
	outline: none;
	border: 1px solid blue;
}
nav.main #search
{
	background-color: #323232;
	height: 100%;
	width: 75px;
}
nav.main #search svg
{
	width: 20px;
	height: 20px;
}

nav.main .right
{
	display: flex;
	align-items: center;
}
nav.main .right button
{
	box-sizing: content-box;
	padding: 0.25rem;
	margin: 0 0.75rem;
	border-radius: 50%;
}
#profile-button
{
	overflow: hidden;
	padding: 0;
	border-radius: 50%;
}

main
{
	min-height: 100vh;
	max-width: 1300px;
	padding: 1rem 0 1rem 7rem;
}

.video-player .container
{
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
}
.video-player iframe
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#video header
{
	margin-top: 1.25rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.125);
}

#video header h1
{
	font-size: 1.125em;
}

#views-and-likes
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#views-and-likes h3
{
	color: #aaa;
	font-size: 0.85em;
}

#views-and-likes .buttons
{
	font-size: 0.95em;
	display: flex;
	align-self: flex-end;
}
#views-and-likes .buttons button
{
	display: flex;
	align-items: center;
	margin: 0 0.5rem;
}
#views-and-likes .buttons svg
{
	width: 30px;
	height: 30px;
	margin-right: 0.25rem;
}

#likes
{
	height: 50px;
	display: flex;
	border-bottom: 2px solid white;
}

#video-info
{
	margin: 0.75rem 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.125);
}

#poster
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profile-pic
{
	width: 48px;
	height: 48px;
	overflow: hidden;
	border-radius: 50%;
}

#subscribe
{
	background-color: #303030;
	color: #aaa;
	font-weight: 500;
	padding: 0.75rem 1.25rem;
}

#bell
{
	width: 24px;
	height: 24px;
	margin: auto 0;
}

#subscribe,
#bell
{
	margin: 0 0.75rem;
}

#description
{
	line-height: 18px;
	white-space: pre-wrap;
	margin-left: 64px;
}

#description a
{
	color: rgb(62, 166, 255);
}

#show-less
{
	color: #aaa;
	font-size: 0.75em;
	line-height: 20px;
}

#comments header
{
	display: flex;
	align-items: center;
}

#comments header button
{
	display: inline-flex;
	align-items: center;
	margin-left: 2rem;
}
#comments header svg
{
	height: 24px;
	width: 24px;
	margin-right: 0.5rem;
}

.comment
{
	display: flex;
	margin: 1rem 0;
}

/* Selects the left part of the comment (profile pic) */
.comment > a
{
	margin-right: 1rem;
}

.comment .profile-pic
{
	width: 40px;
	height: 40px;
}

.comment header
{
	margin-bottom: 0.6rem;
}

.comment .username
{
	font-size: 0.9em;
	font-weight: 500;
	margin-right: 0.5rem;
}

.comment .timestamp
{
	color: #aaa;
	font-size: 0.75em;
}

.comment > div > p
{
	font-size: 0.9em;
	line-height: 18px;
}

.comment .buttons
{
	color: #aaa;
	font-size: 0.8em;
	display: flex;
	align-items: center;
	margin-top: 0.75rem;
}
.comment .buttons button
{
	margin-right: 0.5rem;
}
.comment .buttons svg
{
	width: 16px;
	height: 16px;
}

.comment .view-replies
{
	color: #3ea6ff;
	font-size: 0.95em;
	display: flex;
	align-items: center;
	position: relative;
	right: 6px;
	margin-top: 0.5rem;
}
.comment .view-replies svg
{
	fill: #3ea6ff;
}
